res/values-af/codeaurora_filtershow_strings.xml merge=ours
res/values-am/codeaurora_filtershow_strings.xml merge=ours
res/values-ar/codeaurora_filtershow_strings.xml merge=ours
res/values-as-rIN/codeaurora_filtershow_strings.xml merge=ours
res/values-ast-rES/codeaurora_filtershow_strings.xml merge=ours
res/values-az/codeaurora_filtershow_strings.xml merge=ours
res/values-b+sr+Latn/codeaurora_filtershow_strings.xml merge=ours
res/values-be/codeaurora_filtershow_strings.xml merge=ours
res/values-bg/codeaurora_filtershow_strings.xml merge=ours
res/values-bn/codeaurora_filtershow_strings.xml merge=ours
res/values-br-rFR/codeaurora_filtershow_strings.xml merge=ours
res/values-bs/codeaurora_filtershow_strings.xml merge=ours
res/values-ca/codeaurora_filtershow_strings.xml merge=ours
res/values-cs/codeaurora_filtershow_strings.xml merge=ours
res/values-csb/codeaurora_filtershow_strings.xml merge=ours
res/values-cy/codeaurora_filtershow_strings.xml merge=ours
res/values-da/codeaurora_filtershow_strings.xml merge=ours
res/values-de/codeaurora_filtershow_strings.xml merge=ours
res/values-el/codeaurora_filtershow_strings.xml merge=ours
res/values-en-rAU/codeaurora_filtershow_strings.xml merge=ours
res/values-en-rCA/codeaurora_filtershow_strings.xml merge=ours
res/values-en-rGB/codeaurora_filtershow_strings.xml merge=ours
res/values-en-rIN/codeaurora_filtershow_strings.xml merge=ours
res/values-en-rPT/codeaurora_filtershow_strings.xml merge=ours
res/values-eo/codeaurora_filtershow_strings.xml merge=ours
res/values-es/codeaurora_filtershow_strings.xml merge=ours
res/values-es-rCO/codeaurora_filtershow_strings.xml merge=ours
res/values-es-rMX/codeaurora_filtershow_strings.xml merge=ours
res/values-es-rUS/codeaurora_filtershow_strings.xml merge=ours
res/values-et/codeaurora_filtershow_strings.xml merge=ours
res/values-eu/codeaurora_filtershow_strings.xml merge=ours
res/values-fa/codeaurora_filtershow_strings.xml merge=ours
res/values-fi/codeaurora_filtershow_strings.xml merge=ours
res/values-fil/codeaurora_filtershow_strings.xml merge=ours
res/values-fr/codeaurora_filtershow_strings.xml merge=ours
res/values-fr-rCA/codeaurora_filtershow_strings.xml merge=ours
res/values-frp/codeaurora_filtershow_strings.xml merge=ours
res/values-fy-rNL/codeaurora_filtershow_strings.xml merge=ours
res/values-ga-rIE/codeaurora_filtershow_strings.xml merge=ours
res/values-gd/codeaurora_filtershow_strings.xml merge=ours
res/values-gl/codeaurora_filtershow_strings.xml merge=ours
res/values-gu/codeaurora_filtershow_strings.xml merge=ours
res/values-hi/codeaurora_filtershow_strings.xml merge=ours
res/values-hr/codeaurora_filtershow_strings.xml merge=ours
res/values-hu/codeaurora_filtershow_strings.xml merge=ours
res/values-hy/codeaurora_filtershow_strings.xml merge=ours
res/values-in/codeaurora_filtershow_strings.xml merge=ours
res/values-is/codeaurora_filtershow_strings.xml merge=ours
res/values-it/codeaurora_filtershow_strings.xml merge=ours
res/values-iw/codeaurora_filtershow_strings.xml merge=ours
res/values-ja/codeaurora_filtershow_strings.xml merge=ours
res/values-ka/codeaurora_filtershow_strings.xml merge=ours
res/values-kab-rDZ/codeaurora_filtershow_strings.xml merge=ours
res/values-kk/codeaurora_filtershow_strings.xml merge=ours
res/values-km/codeaurora_filtershow_strings.xml merge=ours
res/values-kn/codeaurora_filtershow_strings.xml merge=ours
res/values-ko/codeaurora_filtershow_strings.xml merge=ours
res/values-ku/codeaurora_filtershow_strings.xml merge=ours
res/values-ky/codeaurora_filtershow_strings.xml merge=ours
res/values-lb/codeaurora_filtershow_strings.xml merge=ours
res/values-lo/codeaurora_filtershow_strings.xml merge=ours
res/values-lt/codeaurora_filtershow_strings.xml merge=ours
res/values-lv/codeaurora_filtershow_strings.xml merge=ours
res/values-mk/codeaurora_filtershow_strings.xml merge=ours
res/values-ml/codeaurora_filtershow_strings.xml merge=ours
res/values-mn/codeaurora_filtershow_strings.xml merge=ours
res/values-mr/codeaurora_filtershow_strings.xml merge=ours
res/values-ms/codeaurora_filtershow_strings.xml merge=ours
res/values-my/codeaurora_filtershow_strings.xml merge=ours
res/values-nb/codeaurora_filtershow_strings.xml merge=ours
res/values-ne/codeaurora_filtershow_strings.xml merge=ours
res/values-nl/codeaurora_filtershow_strings.xml merge=ours
res/values-oc/codeaurora_filtershow_strings.xml merge=ours
res/values-or-rIN/codeaurora_filtershow_strings.xml merge=ours
res/values-pa/codeaurora_filtershow_strings.xml merge=ours
res/values-pl/codeaurora_filtershow_strings.xml merge=ours
res/values-pt/codeaurora_filtershow_strings.xml merge=ours
res/values-pt-rBR/codeaurora_filtershow_strings.xml merge=ours
res/values-pt-rPT/codeaurora_filtershow_strings.xml merge=ours
res/values-rm/codeaurora_filtershow_strings.xml merge=ours
res/values-ro/codeaurora_filtershow_strings.xml merge=ours
res/values-ru/codeaurora_filtershow_strings.xml merge=ours
res/values-sc-rIT/codeaurora_filtershow_strings.xml merge=ours
res/values-si/codeaurora_filtershow_strings.xml merge=ours
res/values-sk/codeaurora_filtershow_strings.xml merge=ours
res/values-sl/codeaurora_filtershow_strings.xml merge=ours
res/values-sq/codeaurora_filtershow_strings.xml merge=ours
res/values-sr/codeaurora_filtershow_strings.xml merge=ours
res/values-sv/codeaurora_filtershow_strings.xml merge=ours
res/values-sw/codeaurora_filtershow_strings.xml merge=ours
res/values-ta/codeaurora_filtershow_strings.xml merge=ours
res/values-te/codeaurora_filtershow_strings.xml merge=ours
res/values-th/codeaurora_filtershow_strings.xml merge=ours
res/values-tl/codeaurora_filtershow_strings.xml merge=ours
res/values-tr/codeaurora_filtershow_strings.xml merge=ours
res/values-ug/codeaurora_filtershow_strings.xml merge=ours
res/values-uk/codeaurora_filtershow_strings.xml merge=ours
res/values-ur/codeaurora_filtershow_strings.xml merge=ours
res/values-uz/codeaurora_filtershow_strings.xml merge=ours
res/values-vec/codeaurora_filtershow_strings.xml merge=ours
res/values-vi/codeaurora_filtershow_strings.xml merge=ours
res/values-zh-rCN/codeaurora_filtershow_strings.xml merge=ours
res/values-zh-rHK/codeaurora_filtershow_strings.xml merge=ours
res/values-zh-rTW/codeaurora_filtershow_strings.xml merge=ours
res/values-zu/codeaurora_filtershow_strings.xml merge=ours
res/values-af/codeaurora_strings.xml merge=ours
res/values-am/codeaurora_strings.xml merge=ours
res/values-ar/codeaurora_strings.xml merge=ours
res/values-as-rIN/codeaurora_strings.xml merge=ours
res/values-ast-rES/codeaurora_strings.xml merge=ours
res/values-az/codeaurora_strings.xml merge=ours
res/values-b+sr+Latn/codeaurora_strings.xml merge=ours
res/values-be/codeaurora_strings.xml merge=ours
res/values-bg/codeaurora_strings.xml merge=ours
res/values-bn/codeaurora_strings.xml merge=ours
res/values-br-rFR/codeaurora_strings.xml merge=ours
res/values-bs/codeaurora_strings.xml merge=ours
res/values-ca/codeaurora_strings.xml merge=ours
res/values-cs/codeaurora_strings.xml merge=ours
res/values-csb/codeaurora_strings.xml merge=ours
res/values-cy/codeaurora_strings.xml merge=ours
res/values-da/codeaurora_strings.xml merge=ours
res/values-de/codeaurora_strings.xml merge=ours
res/values-el/codeaurora_strings.xml merge=ours
res/values-en-rAU/codeaurora_strings.xml merge=ours
res/values-en-rCA/codeaurora_strings.xml merge=ours
res/values-en-rGB/codeaurora_strings.xml merge=ours
res/values-en-rIN/codeaurora_strings.xml merge=ours
res/values-en-rPT/codeaurora_strings.xml merge=ours
res/values-eo/codeaurora_strings.xml merge=ours
res/values-es/codeaurora_strings.xml merge=ours
res/values-es-rCO/codeaurora_strings.xml merge=ours
res/values-es-rMX/codeaurora_strings.xml merge=ours
res/values-es-rUS/codeaurora_strings.xml merge=ours
res/values-et/codeaurora_strings.xml merge=ours
res/values-eu/codeaurora_strings.xml merge=ours
res/values-fa/codeaurora_strings.xml merge=ours
res/values-fi/codeaurora_strings.xml merge=ours
res/values-fil/codeaurora_strings.xml merge=ours
res/values-fr/codeaurora_strings.xml merge=ours
res/values-fr-rCA/codeaurora_strings.xml merge=ours
res/values-frp/codeaurora_strings.xml merge=ours
res/values-fy-rNL/codeaurora_strings.xml merge=ours
res/values-ga-rIE/codeaurora_strings.xml merge=ours
res/values-gd/codeaurora_strings.xml merge=ours
res/values-gl/codeaurora_strings.xml merge=ours
res/values-gu/codeaurora_strings.xml merge=ours
res/values-hi/codeaurora_strings.xml merge=ours
res/values-hr/codeaurora_strings.xml merge=ours
res/values-hu/codeaurora_strings.xml merge=ours
res/values-hy/codeaurora_strings.xml merge=ours
res/values-in/codeaurora_strings.xml merge=ours
res/values-is/codeaurora_strings.xml merge=ours
res/values-it/codeaurora_strings.xml merge=ours
res/values-iw/codeaurora_strings.xml merge=ours
res/values-ja/codeaurora_strings.xml merge=ours
res/values-ka/codeaurora_strings.xml merge=ours
res/values-kab-rDZ/codeaurora_strings.xml merge=ours
res/values-kk/codeaurora_strings.xml merge=ours
res/values-km/codeaurora_strings.xml merge=ours
res/values-kn/codeaurora_strings.xml merge=ours
res/values-ko/codeaurora_strings.xml merge=ours
res/values-ku/codeaurora_strings.xml merge=ours
res/values-ky/codeaurora_strings.xml merge=ours
res/values-lb/codeaurora_strings.xml merge=ours
res/values-lo/codeaurora_strings.xml merge=ours
res/values-lt/codeaurora_strings.xml merge=ours
res/values-lv/codeaurora_strings.xml merge=ours
res/values-mk/codeaurora_strings.xml merge=ours
res/values-ml/codeaurora_strings.xml merge=ours
res/values-mn/codeaurora_strings.xml merge=ours
res/values-mr/codeaurora_strings.xml merge=ours
res/values-ms/codeaurora_strings.xml merge=ours
res/values-my/codeaurora_strings.xml merge=ours
res/values-nb/codeaurora_strings.xml merge=ours
res/values-ne/codeaurora_strings.xml merge=ours
res/values-nl/codeaurora_strings.xml merge=ours
res/values-oc/codeaurora_strings.xml merge=ours
res/values-or-rIN/codeaurora_strings.xml merge=ours
res/values-pa/codeaurora_strings.xml merge=ours
res/values-pl/codeaurora_strings.xml merge=ours
res/values-pt/codeaurora_strings.xml merge=ours
res/values-pt-rBR/codeaurora_strings.xml merge=ours
res/values-pt-rPT/codeaurora_strings.xml merge=ours
res/values-rm/codeaurora_strings.xml merge=ours
res/values-ro/codeaurora_strings.xml merge=ours
res/values-ru/codeaurora_strings.xml merge=ours
res/values-sc-rIT/codeaurora_strings.xml merge=ours
res/values-si/codeaurora_strings.xml merge=ours
res/values-sk/codeaurora_strings.xml merge=ours
res/values-sl/codeaurora_strings.xml merge=ours
res/values-sq/codeaurora_strings.xml merge=ours
res/values-sr/codeaurora_strings.xml merge=ours
res/values-sv/codeaurora_strings.xml merge=ours
res/values-sw/codeaurora_strings.xml merge=ours
res/values-ta/codeaurora_strings.xml merge=ours
res/values-te/codeaurora_strings.xml merge=ours
res/values-th/codeaurora_strings.xml merge=ours
res/values-tl/codeaurora_strings.xml merge=ours
res/values-tr/codeaurora_strings.xml merge=ours
res/values-ug/codeaurora_strings.xml merge=ours
res/values-uk/codeaurora_strings.xml merge=ours
res/values-ur/codeaurora_strings.xml merge=ours
res/values-uz/codeaurora_strings.xml merge=ours
res/values-vec/codeaurora_strings.xml merge=ours
res/values-vi/codeaurora_strings.xml merge=ours
res/values-zh-rCN/codeaurora_strings.xml merge=ours
res/values-zh-rHK/codeaurora_strings.xml merge=ours
res/values-zh-rTW/codeaurora_strings.xml merge=ours
res/values-zu/codeaurora_strings.xml merge=ours
res/values-af/ext_strings.xml merge=ours
res/values-am/ext_strings.xml merge=ours
res/values-ar/ext_strings.xml merge=ours
res/values-as-rIN/ext_strings.xml merge=ours
res/values-ast-rES/ext_strings.xml merge=ours
res/values-az/ext_strings.xml merge=ours
res/values-b+sr+Latn/ext_strings.xml merge=ours
res/values-be/ext_strings.xml merge=ours
res/values-bg/ext_strings.xml merge=ours
res/values-bn/ext_strings.xml merge=ours
res/values-br-rFR/ext_strings.xml merge=ours
res/values-bs/ext_strings.xml merge=ours
res/values-ca/ext_strings.xml merge=ours
res/values-cs/ext_strings.xml merge=ours
res/values-csb/ext_strings.xml merge=ours
res/values-cy/ext_strings.xml merge=ours
res/values-da/ext_strings.xml merge=ours
res/values-de/ext_strings.xml merge=ours
res/values-el/ext_strings.xml merge=ours
res/values-en-rAU/ext_strings.xml merge=ours
res/values-en-rCA/ext_strings.xml merge=ours
res/values-en-rGB/ext_strings.xml merge=ours
res/values-en-rIN/ext_strings.xml merge=ours
res/values-en-rPT/ext_strings.xml merge=ours
res/values-eo/ext_strings.xml merge=ours
res/values-es/ext_strings.xml merge=ours
res/values-es-rCO/ext_strings.xml merge=ours
res/values-es-rMX/ext_strings.xml merge=ours
res/values-es-rUS/ext_strings.xml merge=ours
res/values-et/ext_strings.xml merge=ours
res/values-eu/ext_strings.xml merge=ours
res/values-fa/ext_strings.xml merge=ours
res/values-fi/ext_strings.xml merge=ours
res/values-fil/ext_strings.xml merge=ours
res/values-fr/ext_strings.xml merge=ours
res/values-fr-rCA/ext_strings.xml merge=ours
res/values-frp/ext_strings.xml merge=ours
res/values-fy-rNL/ext_strings.xml merge=ours
res/values-ga-rIE/ext_strings.xml merge=ours
res/values-gd/ext_strings.xml merge=ours
res/values-gl/ext_strings.xml merge=ours
res/values-gu/ext_strings.xml merge=ours
res/values-hi/ext_strings.xml merge=ours
res/values-hr/ext_strings.xml merge=ours
res/values-hu/ext_strings.xml merge=ours
res/values-hy/ext_strings.xml merge=ours
res/values-in/ext_strings.xml merge=ours
res/values-is/ext_strings.xml merge=ours
res/values-it/ext_strings.xml merge=ours
res/values-iw/ext_strings.xml merge=ours
res/values-ja/ext_strings.xml merge=ours
res/values-ka/ext_strings.xml merge=ours
res/values-kab-rDZ/ext_strings.xml merge=ours
res/values-kk/ext_strings.xml merge=ours
res/values-km/ext_strings.xml merge=ours
res/values-kn/ext_strings.xml merge=ours
res/values-ko/ext_strings.xml merge=ours
res/values-ku/ext_strings.xml merge=ours
res/values-ky/ext_strings.xml merge=ours
res/values-lb/ext_strings.xml merge=ours
res/values-lo/ext_strings.xml merge=ours
res/values-lt/ext_strings.xml merge=ours
res/values-lv/ext_strings.xml merge=ours
res/values-mk/ext_strings.xml merge=ours
res/values-ml/ext_strings.xml merge=ours
res/values-mn/ext_strings.xml merge=ours
res/values-mr/ext_strings.xml merge=ours
res/values-ms/ext_strings.xml merge=ours
res/values-my/ext_strings.xml merge=ours
res/values-nb/ext_strings.xml merge=ours
res/values-ne/ext_strings.xml merge=ours
res/values-nl/ext_strings.xml merge=ours
res/values-oc/ext_strings.xml merge=ours
res/values-or-rIN/ext_strings.xml merge=ours
res/values-pa/ext_strings.xml merge=ours
res/values-pl/ext_strings.xml merge=ours
res/values-pt/ext_strings.xml merge=ours
res/values-pt-rBR/ext_strings.xml merge=ours
res/values-pt-rPT/ext_strings.xml merge=ours
res/values-rm/ext_strings.xml merge=ours
res/values-ro/ext_strings.xml merge=ours
res/values-ru/ext_strings.xml merge=ours
res/values-sc-rIT/ext_strings.xml merge=ours
res/values-si/ext_strings.xml merge=ours
res/values-sk/ext_strings.xml merge=ours
res/values-sl/ext_strings.xml merge=ours
res/values-sq/ext_strings.xml merge=ours
res/values-sr/ext_strings.xml merge=ours
res/values-sv/ext_strings.xml merge=ours
res/values-sw/ext_strings.xml merge=ours
res/values-ta/ext_strings.xml merge=ours
res/values-te/ext_strings.xml merge=ours
res/values-th/ext_strings.xml merge=ours
res/values-tl/ext_strings.xml merge=ours
res/values-tr/ext_strings.xml merge=ours
res/values-ug/ext_strings.xml merge=ours
res/values-uk/ext_strings.xml merge=ours
res/values-ur/ext_strings.xml merge=ours
res/values-uz/ext_strings.xml merge=ours
res/values-vec/ext_strings.xml merge=ours
res/values-vi/ext_strings.xml merge=ours
res/values-zh-rCN/ext_strings.xml merge=ours
res/values-zh-rHK/ext_strings.xml merge=ours
res/values-zh-rTW/ext_strings.xml merge=ours
res/values-zu/ext_strings.xml merge=ours
res/values-af/filtershow_strings.xml merge=ours
res/values-am/filtershow_strings.xml merge=ours
res/values-ar/filtershow_strings.xml merge=ours
res/values-as-rIN/filtershow_strings.xml merge=ours
res/values-ast-rES/filtershow_strings.xml merge=ours
res/values-az/filtershow_strings.xml merge=ours
res/values-b+sr+Latn/filtershow_strings.xml merge=ours
res/values-be/filtershow_strings.xml merge=ours
res/values-bg/filtershow_strings.xml merge=ours
res/values-bn/filtershow_strings.xml merge=ours
res/values-br-rFR/filtershow_strings.xml merge=ours
res/values-bs/filtershow_strings.xml merge=ours
res/values-ca/filtershow_strings.xml merge=ours
res/values-cs/filtershow_strings.xml merge=ours
res/values-csb/filtershow_strings.xml merge=ours
res/values-cy/filtershow_strings.xml merge=ours
res/values-da/filtershow_strings.xml merge=ours
res/values-de/filtershow_strings.xml merge=ours
res/values-el/filtershow_strings.xml merge=ours
res/values-en-rAU/filtershow_strings.xml merge=ours
res/values-en-rCA/filtershow_strings.xml merge=ours
res/values-en-rGB/filtershow_strings.xml merge=ours
res/values-en-rIN/filtershow_strings.xml merge=ours
res/values-en-rPT/filtershow_strings.xml merge=ours
res/values-eo/filtershow_strings.xml merge=ours
res/values-es/filtershow_strings.xml merge=ours
res/values-es-rCO/filtershow_strings.xml merge=ours
res/values-es-rMX/filtershow_strings.xml merge=ours
res/values-es-rUS/filtershow_strings.xml merge=ours
res/values-et/filtershow_strings.xml merge=ours
res/values-eu/filtershow_strings.xml merge=ours
res/values-fa/filtershow_strings.xml merge=ours
res/values-fi/filtershow_strings.xml merge=ours
res/values-fil/filtershow_strings.xml merge=ours
res/values-fr/filtershow_strings.xml merge=ours
res/values-fr-rCA/filtershow_strings.xml merge=ours
res/values-frp/filtershow_strings.xml merge=ours
res/values-fy-rNL/filtershow_strings.xml merge=ours
res/values-ga-rIE/filtershow_strings.xml merge=ours
res/values-gd/filtershow_strings.xml merge=ours
res/values-gl/filtershow_strings.xml merge=ours
res/values-gu/filtershow_strings.xml merge=ours
res/values-hi/filtershow_strings.xml merge=ours
res/values-hr/filtershow_strings.xml merge=ours
res/values-hu/filtershow_strings.xml merge=ours
res/values-hy/filtershow_strings.xml merge=ours
res/values-in/filtershow_strings.xml merge=ours
res/values-is/filtershow_strings.xml merge=ours
res/values-it/filtershow_strings.xml merge=ours
res/values-iw/filtershow_strings.xml merge=ours
res/values-ja/filtershow_strings.xml merge=ours
res/values-ka/filtershow_strings.xml merge=ours
res/values-kab-rDZ/filtershow_strings.xml merge=ours
res/values-kk/filtershow_strings.xml merge=ours
res/values-km/filtershow_strings.xml merge=ours
res/values-kn/filtershow_strings.xml merge=ours
res/values-ko/filtershow_strings.xml merge=ours
res/values-ku/filtershow_strings.xml merge=ours
res/values-ky/filtershow_strings.xml merge=ours
res/values-lb/filtershow_strings.xml merge=ours
res/values-lo/filtershow_strings.xml merge=ours
res/values-lt/filtershow_strings.xml merge=ours
res/values-lv/filtershow_strings.xml merge=ours
res/values-mk/filtershow_strings.xml merge=ours
res/values-ml/filtershow_strings.xml merge=ours
res/values-mn/filtershow_strings.xml merge=ours
res/values-mr/filtershow_strings.xml merge=ours
res/values-ms/filtershow_strings.xml merge=ours
res/values-my/filtershow_strings.xml merge=ours
res/values-nb/filtershow_strings.xml merge=ours
res/values-ne/filtershow_strings.xml merge=ours
res/values-nl/filtershow_strings.xml merge=ours
res/values-oc/filtershow_strings.xml merge=ours
res/values-or-rIN/filtershow_strings.xml merge=ours
res/values-pa/filtershow_strings.xml merge=ours
res/values-pl/filtershow_strings.xml merge=ours
res/values-pt/filtershow_strings.xml merge=ours
res/values-pt-rBR/filtershow_strings.xml merge=ours
res/values-pt-rPT/filtershow_strings.xml merge=ours
res/values-rm/filtershow_strings.xml merge=ours
res/values-ro/filtershow_strings.xml merge=ours
res/values-ru/filtershow_strings.xml merge=ours
res/values-sc-rIT/filtershow_strings.xml merge=ours
res/values-si/filtershow_strings.xml merge=ours
res/values-sk/filtershow_strings.xml merge=ours
res/values-sl/filtershow_strings.xml merge=ours
res/values-sq/filtershow_strings.xml merge=ours
res/values-sr/filtershow_strings.xml merge=ours
res/values-sv/filtershow_strings.xml merge=ours
res/values-sw/filtershow_strings.xml merge=ours
res/values-ta/filtershow_strings.xml merge=ours
res/values-te/filtershow_strings.xml merge=ours
res/values-th/filtershow_strings.xml merge=ours
res/values-tl/filtershow_strings.xml merge=ours
res/values-tr/filtershow_strings.xml merge=ours
res/values-ug/filtershow_strings.xml merge=ours
res/values-uk/filtershow_strings.xml merge=ours
res/values-ur/filtershow_strings.xml merge=ours
res/values-uz/filtershow_strings.xml merge=ours
res/values-vec/filtershow_strings.xml merge=ours
res/values-vi/filtershow_strings.xml merge=ours
res/values-zh-rCN/filtershow_strings.xml merge=ours
res/values-zh-rHK/filtershow_strings.xml merge=ours
res/values-zh-rTW/filtershow_strings.xml merge=ours
res/values-zu/filtershow_strings.xml merge=ours
res/values-af/strings.xml merge=ours
res/values-am/strings.xml merge=ours
res/values-ar/strings.xml merge=ours
res/values-as-rIN/strings.xml merge=ours
res/values-ast-rES/strings.xml merge=ours
res/values-az/strings.xml merge=ours
res/values-b+sr+Latn/strings.xml merge=ours
res/values-be/strings.xml merge=ours
res/values-bg/strings.xml merge=ours
res/values-bn/strings.xml merge=ours
res/values-br-rFR/strings.xml merge=ours
res/values-bs/strings.xml merge=ours
res/values-ca/strings.xml merge=ours
res/values-cs/strings.xml merge=ours
res/values-csb/strings.xml merge=ours
res/values-cy/strings.xml merge=ours
res/values-da/strings.xml merge=ours
res/values-de/strings.xml merge=ours
res/values-el/strings.xml merge=ours
res/values-en-rAU/strings.xml merge=ours
res/values-en-rCA/strings.xml merge=ours
res/values-en-rGB/strings.xml merge=ours
res/values-en-rIN/strings.xml merge=ours
res/values-en-rPT/strings.xml merge=ours
res/values-eo/strings.xml merge=ours
res/values-es/strings.xml merge=ours
res/values-es-rCO/strings.xml merge=ours
res/values-es-rMX/strings.xml merge=ours
res/values-es-rUS/strings.xml merge=ours
res/values-et/strings.xml merge=ours
res/values-eu/strings.xml merge=ours
res/values-fa/strings.xml merge=ours
res/values-fi/strings.xml merge=ours
res/values-fil/strings.xml merge=ours
res/values-fr/strings.xml merge=ours
res/values-fr-rCA/strings.xml merge=ours
res/values-frp/strings.xml merge=ours
res/values-fy-rNL/strings.xml merge=ours
res/values-ga-rIE/strings.xml merge=ours
res/values-gd/strings.xml merge=ours
res/values-gl/strings.xml merge=ours
res/values-gu/strings.xml merge=ours
res/values-hi/strings.xml merge=ours
res/values-hr/strings.xml merge=ours
res/values-hu/strings.xml merge=ours
res/values-hy/strings.xml merge=ours
res/values-in/strings.xml merge=ours
res/values-is/strings.xml merge=ours
res/values-it/strings.xml merge=ours
res/values-iw/strings.xml merge=ours
res/values-ja/strings.xml merge=ours
res/values-ka/strings.xml merge=ours
res/values-kab-rDZ/strings.xml merge=ours
res/values-kk/strings.xml merge=ours
res/values-km/strings.xml merge=ours
res/values-kn/strings.xml merge=ours
res/values-ko/strings.xml merge=ours
res/values-ku/strings.xml merge=ours
res/values-ky/strings.xml merge=ours
res/values-lb/strings.xml merge=ours
res/values-lo/strings.xml merge=ours
res/values-lt/strings.xml merge=ours
res/values-lv/strings.xml merge=ours
res/values-mk/strings.xml merge=ours
res/values-ml/strings.xml merge=ours
res/values-mn/strings.xml merge=ours
res/values-mr/strings.xml merge=ours
res/values-ms/strings.xml merge=ours
res/values-my/strings.xml merge=ours
res/values-nb/strings.xml merge=ours
res/values-ne/strings.xml merge=ours
res/values-nl/strings.xml merge=ours
res/values-oc/strings.xml merge=ours
res/values-or-rIN/strings.xml merge=ours
res/values-pa/strings.xml merge=ours
res/values-pl/strings.xml merge=ours
res/values-pt/strings.xml merge=ours
res/values-pt-rBR/strings.xml merge=ours
res/values-pt-rPT/strings.xml merge=ours
res/values-rm/strings.xml merge=ours
res/values-ro/strings.xml merge=ours
res/values-ru/strings.xml merge=ours
res/values-sc-rIT/strings.xml merge=ours
res/values-si/strings.xml merge=ours
res/values-sk/strings.xml merge=ours
res/values-sl/strings.xml merge=ours
res/values-sq/strings.xml merge=ours
res/values-sr/strings.xml merge=ours
res/values-sv/strings.xml merge=ours
res/values-sw/strings.xml merge=ours
res/values-ta/strings.xml merge=ours
res/values-te/strings.xml merge=ours
res/values-th/strings.xml merge=ours
res/values-tl/strings.xml merge=ours
res/values-tr/strings.xml merge=ours
res/values-ug/strings.xml merge=ours
res/values-uk/strings.xml merge=ours
res/values-ur/strings.xml merge=ours
res/values-uz/strings.xml merge=ours
res/values-vec/strings.xml merge=ours
res/values-vi/strings.xml merge=ours
res/values-zh-rCN/strings.xml merge=ours
res/values-zh-rHK/strings.xml merge=ours
res/values-zh-rTW/strings.xml merge=ours
res/values-zu/strings.xml merge=ours