res/values-af/strings.xml merge=ours
res/values-am/strings.xml merge=ours
res/values-ar/strings.xml merge=ours
res/values-as-rIN/strings.xml merge=ours
res/values-ast-rES/strings.xml merge=ours
res/values-az-rAZ/strings.xml merge=ours
res/values-be/strings.xml merge=ours
res/values-be-rBY/strings.xml merge=ours
res/values-bg/strings.xml merge=ours
res/values-bn-rBD/strings.xml merge=ours
res/values-br-rFR/strings.xml merge=ours
res/values-bs-rBA/strings.xml merge=ours
res/values-ca/strings.xml merge=ours
res/values-cs/strings.xml merge=ours
res/values-csb-rPL/strings.xml merge=ours
res/values-cy/strings.xml merge=ours
res/values-da/strings.xml merge=ours
res/values-de/strings.xml merge=ours
res/values-el/strings.xml merge=ours
res/values-en-rAU/strings.xml merge=ours
res/values-en-rGB/strings.xml merge=ours
res/values-en-rIN/strings.xml merge=ours
res/values-en-rPT/strings.xml merge=ours
res/values-eo/strings.xml merge=ours
res/values-es/strings.xml merge=ours
res/values-es-rCO/strings.xml merge=ours
res/values-es-rMX/strings.xml merge=ours
res/values-es-rUS/strings.xml merge=ours
res/values-et-rEE/strings.xml merge=ours
res/values-eu-rES/strings.xml merge=ours
res/values-fa/strings.xml merge=ours
res/values-fi/strings.xml merge=ours
res/values-fil-rPH/strings.xml merge=ours
res/values-fr/strings.xml merge=ours
res/values-fr-rCA/strings.xml merge=ours
res/values-frp-rIT/strings.xml merge=ours
res/values-fy-rNL/strings.xml merge=ours
res/values-ga-rIE/strings.xml merge=ours
res/values-gd-rGB/strings.xml merge=ours
res/values-gl-rES/strings.xml merge=ours
res/values-gu-rIN/strings.xml merge=ours
res/values-hi/strings.xml merge=ours
res/values-hr/strings.xml merge=ours
res/values-hu/strings.xml merge=ours
res/values-hy-rAM/strings.xml merge=ours
res/values-in/strings.xml merge=ours
res/values-is-rIS/strings.xml merge=ours
res/values-it/strings.xml merge=ours
res/values-iw/strings.xml merge=ours
res/values-ja/strings.xml merge=ours
res/values-ka-rGE/strings.xml merge=ours
res/values-kk-rKZ/strings.xml merge=ours
res/values-km-rKH/strings.xml merge=ours
res/values-kn-rIN/strings.xml merge=ours
res/values-ko/strings.xml merge=ours
res/values-ku/strings.xml merge=ours
res/values-ky-rKG/strings.xml merge=ours
res/values-lb/strings.xml merge=ours
res/values-lo-rLA/strings.xml merge=ours
res/values-lt/strings.xml merge=ours
res/values-lv/strings.xml merge=ours
res/values-mk-rMK/strings.xml merge=ours
res/values-ml-rIN/strings.xml merge=ours
res/values-mn-rMN/strings.xml merge=ours
res/values-mr-rIN/strings.xml merge=ours
res/values-ms-rMY/strings.xml merge=ours
res/values-my-rMM/strings.xml merge=ours
res/values-nb/strings.xml merge=ours
res/values-ne-rNP/strings.xml merge=ours
res/values-nl/strings.xml merge=ours
res/values-oc-rFR/strings.xml merge=ours
res/values-or-rIN/strings.xml merge=ours
res/values-pa-rIN/strings.xml merge=ours
res/values-pl/strings.xml merge=ours
res/values-pt-rBR/strings.xml merge=ours
res/values-pt-rPT/strings.xml merge=ours
res/values-rm/strings.xml merge=ours
res/values-ro/strings.xml merge=ours
res/values-ru/strings.xml merge=ours
res/values-si-rLK/strings.xml merge=ours
res/values-sk/strings.xml merge=ours
res/values-sl/strings.xml merge=ours
res/values-sq-rAL/strings.xml merge=ours
res/values-sr/strings.xml merge=ours
res/values-sv/strings.xml merge=ours
res/values-sw/strings.xml merge=ours
res/values-ta-rIN/strings.xml merge=ours
res/values-te-rIN/strings.xml merge=ours
res/values-th/strings.xml merge=ours
res/values-tl/strings.xml merge=ours
res/values-tr/strings.xml merge=ours
res/values-ug/strings.xml merge=ours
res/values-uk/strings.xml merge=ours
res/values-ur-rPK/strings.xml merge=ours
res/values-uz-rUZ/strings.xml merge=ours
res/values-vi/strings.xml merge=ours
res/values-zh-rCN/strings.xml merge=ours
res/values-zh-rHK/strings.xml merge=ours
res/values-zh-rTW/strings.xml merge=ours
res/values-zu/strings.xml merge=ours