res/values-af/codeaurora_strings.xml merge=ours
res/values-am/codeaurora_strings.xml merge=ours
res/values-ar/codeaurora_strings.xml merge=ours
res/values-as-rIN/codeaurora_strings.xml merge=ours
res/values-ast-rES/codeaurora_strings.xml merge=ours
res/values-az-rAZ/codeaurora_strings.xml merge=ours
res/values-be/codeaurora_strings.xml merge=ours
res/values-be-rBY/codeaurora_strings.xml merge=ours
res/values-bg/codeaurora_strings.xml merge=ours
res/values-bn-rBD/codeaurora_strings.xml merge=ours
res/values-br-rFR/codeaurora_strings.xml merge=ours
res/values-bs-rBA/codeaurora_strings.xml merge=ours
res/values-ca/codeaurora_strings.xml merge=ours
res/values-cs/codeaurora_strings.xml merge=ours
res/values-csb-rPL/codeaurora_strings.xml merge=ours
res/values-cy/codeaurora_strings.xml merge=ours
res/values-da/codeaurora_strings.xml merge=ours
res/values-de/codeaurora_strings.xml merge=ours
res/values-el/codeaurora_strings.xml merge=ours
res/values-en-rAU/codeaurora_strings.xml merge=ours
res/values-en-rGB/codeaurora_strings.xml merge=ours
res/values-en-rIN/codeaurora_strings.xml merge=ours
res/values-en-rPT/codeaurora_strings.xml merge=ours
res/values-eo/codeaurora_strings.xml merge=ours
res/values-es/codeaurora_strings.xml merge=ours
res/values-es-rCO/codeaurora_strings.xml merge=ours
res/values-es-rMX/codeaurora_strings.xml merge=ours
res/values-es-rUS/codeaurora_strings.xml merge=ours
res/values-et-rEE/codeaurora_strings.xml merge=ours
res/values-eu-rES/codeaurora_strings.xml merge=ours
res/values-fa/codeaurora_strings.xml merge=ours
res/values-fi/codeaurora_strings.xml merge=ours
res/values-fil-rPH/codeaurora_strings.xml merge=ours
res/values-fr/codeaurora_strings.xml merge=ours
res/values-fr-rCA/codeaurora_strings.xml merge=ours
res/values-frp-rIT/codeaurora_strings.xml merge=ours
res/values-fy-rNL/codeaurora_strings.xml merge=ours
res/values-ga-rIE/codeaurora_strings.xml merge=ours
res/values-gd-rGB/codeaurora_strings.xml merge=ours
res/values-gl-rES/codeaurora_strings.xml merge=ours
res/values-gu-rIN/codeaurora_strings.xml merge=ours
res/values-hi/codeaurora_strings.xml merge=ours
res/values-hr/codeaurora_strings.xml merge=ours
res/values-hu/codeaurora_strings.xml merge=ours
res/values-hy-rAM/codeaurora_strings.xml merge=ours
res/values-in/codeaurora_strings.xml merge=ours
res/values-is-rIS/codeaurora_strings.xml merge=ours
res/values-it/codeaurora_strings.xml merge=ours
res/values-iw/codeaurora_strings.xml merge=ours
res/values-ja/codeaurora_strings.xml merge=ours
res/values-ka-rGE/codeaurora_strings.xml merge=ours
res/values-kk-rKZ/codeaurora_strings.xml merge=ours
res/values-km-rKH/codeaurora_strings.xml merge=ours
res/values-kn-rIN/codeaurora_strings.xml merge=ours
res/values-ko/codeaurora_strings.xml merge=ours
res/values-ku/codeaurora_strings.xml merge=ours
res/values-ky-rKG/codeaurora_strings.xml merge=ours
res/values-lb/codeaurora_strings.xml merge=ours
res/values-lo-rLA/codeaurora_strings.xml merge=ours
res/values-lt/codeaurora_strings.xml merge=ours
res/values-lv/codeaurora_strings.xml merge=ours
res/values-mk-rMK/codeaurora_strings.xml merge=ours
res/values-ml-rIN/codeaurora_strings.xml merge=ours
res/values-mn-rMN/codeaurora_strings.xml merge=ours
res/values-mr-rIN/codeaurora_strings.xml merge=ours
res/values-ms-rMY/codeaurora_strings.xml merge=ours
res/values-my-rMM/codeaurora_strings.xml merge=ours
res/values-nb/codeaurora_strings.xml merge=ours
res/values-ne-rNP/codeaurora_strings.xml merge=ours
res/values-nl/codeaurora_strings.xml merge=ours
res/values-oc-rFR/codeaurora_strings.xml merge=ours
res/values-or-rIN/codeaurora_strings.xml merge=ours
res/values-pa-rIN/codeaurora_strings.xml merge=ours
res/values-pl/codeaurora_strings.xml merge=ours
res/values-pt-rBR/codeaurora_strings.xml merge=ours
res/values-pt-rPT/codeaurora_strings.xml merge=ours
res/values-rm/codeaurora_strings.xml merge=ours
res/values-ro/codeaurora_strings.xml merge=ours
res/values-ru/codeaurora_strings.xml merge=ours
res/values-si-rLK/codeaurora_strings.xml merge=ours
res/values-sk/codeaurora_strings.xml merge=ours
res/values-sl/codeaurora_strings.xml merge=ours
res/values-sq-rAL/codeaurora_strings.xml merge=ours
res/values-sr/codeaurora_strings.xml merge=ours
res/values-sv/codeaurora_strings.xml merge=ours
res/values-sw/codeaurora_strings.xml merge=ours
res/values-ta-rIN/codeaurora_strings.xml merge=ours
res/values-te-rIN/codeaurora_strings.xml merge=ours
res/values-th/codeaurora_strings.xml merge=ours
res/values-tl/codeaurora_strings.xml merge=ours
res/values-tr/codeaurora_strings.xml merge=ours
res/values-ug/codeaurora_strings.xml merge=ours
res/values-uk/codeaurora_strings.xml merge=ours
res/values-ur-rPK/codeaurora_strings.xml merge=ours
res/values-uz-rUZ/codeaurora_strings.xml merge=ours
res/values-vi/codeaurora_strings.xml merge=ours
res/values-zh-rCN/codeaurora_strings.xml merge=ours
res/values-zh-rHK/codeaurora_strings.xml merge=ours
res/values-zh-rTW/codeaurora_strings.xml merge=ours
res/values-zu/codeaurora_strings.xml merge=ours
res/values-af/ext_strings.xml merge=ours
res/values-am/ext_strings.xml merge=ours
res/values-ar/ext_strings.xml merge=ours
res/values-as-rIN/ext_strings.xml merge=ours
res/values-ast-rES/ext_strings.xml merge=ours
res/values-az-rAZ/ext_strings.xml merge=ours
res/values-be/ext_strings.xml merge=ours
res/values-be-rBY/ext_strings.xml merge=ours
res/values-bg/ext_strings.xml merge=ours
res/values-bn-rBD/ext_strings.xml merge=ours
res/values-br-rFR/ext_strings.xml merge=ours
res/values-bs-rBA/ext_strings.xml merge=ours
res/values-ca/ext_strings.xml merge=ours
res/values-cs/ext_strings.xml merge=ours
res/values-csb-rPL/ext_strings.xml merge=ours
res/values-cy/ext_strings.xml merge=ours
res/values-da/ext_strings.xml merge=ours
res/values-de/ext_strings.xml merge=ours
res/values-el/ext_strings.xml merge=ours
res/values-en-rAU/ext_strings.xml merge=ours
res/values-en-rGB/ext_strings.xml merge=ours
res/values-en-rIN/ext_strings.xml merge=ours
res/values-en-rPT/ext_strings.xml merge=ours
res/values-eo/ext_strings.xml merge=ours
res/values-es/ext_strings.xml merge=ours
res/values-es-rCO/ext_strings.xml merge=ours
res/values-es-rMX/ext_strings.xml merge=ours
res/values-es-rUS/ext_strings.xml merge=ours
res/values-et-rEE/ext_strings.xml merge=ours
res/values-eu-rES/ext_strings.xml merge=ours
res/values-fa/ext_strings.xml merge=ours
res/values-fi/ext_strings.xml merge=ours
res/values-fil-rPH/ext_strings.xml merge=ours
res/values-fr/ext_strings.xml merge=ours
res/values-fr-rCA/ext_strings.xml merge=ours
res/values-frp-rIT/ext_strings.xml merge=ours
res/values-fy-rNL/ext_strings.xml merge=ours
res/values-ga-rIE/ext_strings.xml merge=ours
res/values-gd-rGB/ext_strings.xml merge=ours
res/values-gl-rES/ext_strings.xml merge=ours
res/values-gu-rIN/ext_strings.xml merge=ours
res/values-hi/ext_strings.xml merge=ours
res/values-hr/ext_strings.xml merge=ours
res/values-hu/ext_strings.xml merge=ours
res/values-hy-rAM/ext_strings.xml merge=ours
res/values-in/ext_strings.xml merge=ours
res/values-is-rIS/ext_strings.xml merge=ours
res/values-it/ext_strings.xml merge=ours
res/values-iw/ext_strings.xml merge=ours
res/values-ja/ext_strings.xml merge=ours
res/values-ka-rGE/ext_strings.xml merge=ours
res/values-kk-rKZ/ext_strings.xml merge=ours
res/values-km-rKH/ext_strings.xml merge=ours
res/values-kn-rIN/ext_strings.xml merge=ours
res/values-ko/ext_strings.xml merge=ours
res/values-ku/ext_strings.xml merge=ours
res/values-ky-rKG/ext_strings.xml merge=ours
res/values-lb/ext_strings.xml merge=ours
res/values-lo-rLA/ext_strings.xml merge=ours
res/values-lt/ext_strings.xml merge=ours
res/values-lv/ext_strings.xml merge=ours
res/values-mk-rMK/ext_strings.xml merge=ours
res/values-ml-rIN/ext_strings.xml merge=ours
res/values-mn-rMN/ext_strings.xml merge=ours
res/values-mr-rIN/ext_strings.xml merge=ours
res/values-ms-rMY/ext_strings.xml merge=ours
res/values-my-rMM/ext_strings.xml merge=ours
res/values-nb/ext_strings.xml merge=ours
res/values-ne-rNP/ext_strings.xml merge=ours
res/values-nl/ext_strings.xml merge=ours
res/values-oc-rFR/ext_strings.xml merge=ours
res/values-or-rIN/ext_strings.xml merge=ours
res/values-pa-rIN/ext_strings.xml merge=ours
res/values-pl/ext_strings.xml merge=ours
res/values-pt-rBR/ext_strings.xml merge=ours
res/values-pt-rPT/ext_strings.xml merge=ours
res/values-rm/ext_strings.xml merge=ours
res/values-ro/ext_strings.xml merge=ours
res/values-ru/ext_strings.xml merge=ours
res/values-si-rLK/ext_strings.xml merge=ours
res/values-sk/ext_strings.xml merge=ours
res/values-sl/ext_strings.xml merge=ours
res/values-sq-rAL/ext_strings.xml merge=ours
res/values-sr/ext_strings.xml merge=ours
res/values-sv/ext_strings.xml merge=ours
res/values-sw/ext_strings.xml merge=ours
res/values-ta-rIN/ext_strings.xml merge=ours
res/values-te-rIN/ext_strings.xml merge=ours
res/values-th/ext_strings.xml merge=ours
res/values-tl/ext_strings.xml merge=ours
res/values-tr/ext_strings.xml merge=ours
res/values-ug/ext_strings.xml merge=ours
res/values-uk/ext_strings.xml merge=ours
res/values-ur-rPK/ext_strings.xml merge=ours
res/values-uz-rUZ/ext_strings.xml merge=ours
res/values-vi/ext_strings.xml merge=ours
res/values-zh-rCN/ext_strings.xml merge=ours
res/values-zh-rHK/ext_strings.xml merge=ours
res/values-zh-rTW/ext_strings.xml merge=ours
res/values-zu/ext_strings.xml merge=ours
res/values-af/filtershow_strings.xml merge=ours
res/values-am/filtershow_strings.xml merge=ours
res/values-ar/filtershow_strings.xml merge=ours
res/values-as-rIN/filtershow_strings.xml merge=ours
res/values-ast-rES/filtershow_strings.xml merge=ours
res/values-az-rAZ/filtershow_strings.xml merge=ours
res/values-be/filtershow_strings.xml merge=ours
res/values-be-rBY/filtershow_strings.xml merge=ours
res/values-bg/filtershow_strings.xml merge=ours
res/values-bn-rBD/filtershow_strings.xml merge=ours
res/values-br-rFR/filtershow_strings.xml merge=ours
res/values-bs-rBA/filtershow_strings.xml merge=ours
res/values-ca/filtershow_strings.xml merge=ours
res/values-cs/filtershow_strings.xml merge=ours
res/values-csb-rPL/filtershow_strings.xml merge=ours
res/values-cy/filtershow_strings.xml merge=ours
res/values-da/filtershow_strings.xml merge=ours
res/values-de/filtershow_strings.xml merge=ours
res/values-el/filtershow_strings.xml merge=ours
res/values-en-rAU/filtershow_strings.xml merge=ours
res/values-en-rGB/filtershow_strings.xml merge=ours
res/values-en-rIN/filtershow_strings.xml merge=ours
res/values-en-rPT/filtershow_strings.xml merge=ours
res/values-eo/filtershow_strings.xml merge=ours
res/values-es/filtershow_strings.xml merge=ours
res/values-es-rCO/filtershow_strings.xml merge=ours
res/values-es-rMX/filtershow_strings.xml merge=ours
res/values-es-rUS/filtershow_strings.xml merge=ours
res/values-et-rEE/filtershow_strings.xml merge=ours
res/values-eu-rES/filtershow_strings.xml merge=ours
res/values-fa/filtershow_strings.xml merge=ours
res/values-fi/filtershow_strings.xml merge=ours
res/values-fil-rPH/filtershow_strings.xml merge=ours
res/values-fr/filtershow_strings.xml merge=ours
res/values-fr-rCA/filtershow_strings.xml merge=ours
res/values-frp-rIT/filtershow_strings.xml merge=ours
res/values-fy-rNL/filtershow_strings.xml merge=ours
res/values-ga-rIE/filtershow_strings.xml merge=ours
res/values-gd-rGB/filtershow_strings.xml merge=ours
res/values-gl-rES/filtershow_strings.xml merge=ours
res/values-gu-rIN/filtershow_strings.xml merge=ours
res/values-hi/filtershow_strings.xml merge=ours
res/values-hr/filtershow_strings.xml merge=ours
res/values-hu/filtershow_strings.xml merge=ours
res/values-hy-rAM/filtershow_strings.xml merge=ours
res/values-in/filtershow_strings.xml merge=ours
res/values-is-rIS/filtershow_strings.xml merge=ours
res/values-it/filtershow_strings.xml merge=ours
res/values-iw/filtershow_strings.xml merge=ours
res/values-ja/filtershow_strings.xml merge=ours
res/values-ka-rGE/filtershow_strings.xml merge=ours
res/values-kk-rKZ/filtershow_strings.xml merge=ours
res/values-km-rKH/filtershow_strings.xml merge=ours
res/values-kn-rIN/filtershow_strings.xml merge=ours
res/values-ko/filtershow_strings.xml merge=ours
res/values-ku/filtershow_strings.xml merge=ours
res/values-ky-rKG/filtershow_strings.xml merge=ours
res/values-lb/filtershow_strings.xml merge=ours
res/values-lo-rLA/filtershow_strings.xml merge=ours
res/values-lt/filtershow_strings.xml merge=ours
res/values-lv/filtershow_strings.xml merge=ours
res/values-mk-rMK/filtershow_strings.xml merge=ours
res/values-ml-rIN/filtershow_strings.xml merge=ours
res/values-mn-rMN/filtershow_strings.xml merge=ours
res/values-mr-rIN/filtershow_strings.xml merge=ours
res/values-ms-rMY/filtershow_strings.xml merge=ours
res/values-my-rMM/filtershow_strings.xml merge=ours
res/values-nb/filtershow_strings.xml merge=ours
res/values-ne-rNP/filtershow_strings.xml merge=ours
res/values-nl/filtershow_strings.xml merge=ours
res/values-oc-rFR/filtershow_strings.xml merge=ours
res/values-or-rIN/filtershow_strings.xml merge=ours
res/values-pa-rIN/filtershow_strings.xml merge=ours
res/values-pl/filtershow_strings.xml merge=ours
res/values-pt-rBR/filtershow_strings.xml merge=ours
res/values-pt-rPT/filtershow_strings.xml merge=ours
res/values-rm/filtershow_strings.xml merge=ours
res/values-ro/filtershow_strings.xml merge=ours
res/values-ru/filtershow_strings.xml merge=ours
res/values-si-rLK/filtershow_strings.xml merge=ours
res/values-sk/filtershow_strings.xml merge=ours
res/values-sl/filtershow_strings.xml merge=ours
res/values-sq-rAL/filtershow_strings.xml merge=ours
res/values-sr/filtershow_strings.xml merge=ours
res/values-sv/filtershow_strings.xml merge=ours
res/values-sw/filtershow_strings.xml merge=ours
res/values-ta-rIN/filtershow_strings.xml merge=ours
res/values-te-rIN/filtershow_strings.xml merge=ours
res/values-th/filtershow_strings.xml merge=ours
res/values-tl/filtershow_strings.xml merge=ours
res/values-tr/filtershow_strings.xml merge=ours
res/values-ug/filtershow_strings.xml merge=ours
res/values-uk/filtershow_strings.xml merge=ours
res/values-ur-rPK/filtershow_strings.xml merge=ours
res/values-uz-rUZ/filtershow_strings.xml merge=ours
res/values-vi/filtershow_strings.xml merge=ours
res/values-zh-rCN/filtershow_strings.xml merge=ours
res/values-zh-rHK/filtershow_strings.xml merge=ours
res/values-zh-rTW/filtershow_strings.xml merge=ours
res/values-zu/filtershow_strings.xml merge=ours
res/values-af/strings.xml merge=ours
res/values-am/strings.xml merge=ours
res/values-ar/strings.xml merge=ours
res/values-as-rIN/strings.xml merge=ours
res/values-ast-rES/strings.xml merge=ours
res/values-az-rAZ/strings.xml merge=ours
res/values-be/strings.xml merge=ours
res/values-be-rBY/strings.xml merge=ours
res/values-bg/strings.xml merge=ours
res/values-bn-rBD/strings.xml merge=ours
res/values-br-rFR/strings.xml merge=ours
res/values-bs-rBA/strings.xml merge=ours
res/values-ca/strings.xml merge=ours
res/values-cs/strings.xml merge=ours
res/values-csb-rPL/strings.xml merge=ours
res/values-cy/strings.xml merge=ours
res/values-da/strings.xml merge=ours
res/values-de/strings.xml merge=ours
res/values-el/strings.xml merge=ours
res/values-en-rAU/strings.xml merge=ours
res/values-en-rGB/strings.xml merge=ours
res/values-en-rIN/strings.xml merge=ours
res/values-en-rPT/strings.xml merge=ours
res/values-eo/strings.xml merge=ours
res/values-es/strings.xml merge=ours
res/values-es-rCO/strings.xml merge=ours
res/values-es-rMX/strings.xml merge=ours
res/values-es-rUS/strings.xml merge=ours
res/values-et-rEE/strings.xml merge=ours
res/values-eu-rES/strings.xml merge=ours
res/values-fa/strings.xml merge=ours
res/values-fi/strings.xml merge=ours
res/values-fil-rPH/strings.xml merge=ours
res/values-fr/strings.xml merge=ours
res/values-fr-rCA/strings.xml merge=ours
res/values-frp-rIT/strings.xml merge=ours
res/values-fy-rNL/strings.xml merge=ours
res/values-ga-rIE/strings.xml merge=ours
res/values-gd-rGB/strings.xml merge=ours
res/values-gl-rES/strings.xml merge=ours
res/values-gu-rIN/strings.xml merge=ours
res/values-hi/strings.xml merge=ours
res/values-hr/strings.xml merge=ours
res/values-hu/strings.xml merge=ours
res/values-hy-rAM/strings.xml merge=ours
res/values-in/strings.xml merge=ours
res/values-is-rIS/strings.xml merge=ours
res/values-it/strings.xml merge=ours
res/values-iw/strings.xml merge=ours
res/values-ja/strings.xml merge=ours
res/values-ka-rGE/strings.xml merge=ours
res/values-kk-rKZ/strings.xml merge=ours
res/values-km-rKH/strings.xml merge=ours
res/values-kn-rIN/strings.xml merge=ours
res/values-ko/strings.xml merge=ours
res/values-ku/strings.xml merge=ours
res/values-ky-rKG/strings.xml merge=ours
res/values-lb/strings.xml merge=ours
res/values-lo-rLA/strings.xml merge=ours
res/values-lt/strings.xml merge=ours
res/values-lv/strings.xml merge=ours
res/values-mk-rMK/strings.xml merge=ours
res/values-ml-rIN/strings.xml merge=ours
res/values-mn-rMN/strings.xml merge=ours
res/values-mr-rIN/strings.xml merge=ours
res/values-ms-rMY/strings.xml merge=ours
res/values-my-rMM/strings.xml merge=ours
res/values-nb/strings.xml merge=ours
res/values-ne-rNP/strings.xml merge=ours
res/values-nl/strings.xml merge=ours
res/values-oc-rFR/strings.xml merge=ours
res/values-or-rIN/strings.xml merge=ours
res/values-pa-rIN/strings.xml merge=ours
res/values-pl/strings.xml merge=ours
res/values-pt-rBR/strings.xml merge=ours
res/values-pt-rPT/strings.xml merge=ours
res/values-rm/strings.xml merge=ours
res/values-ro/strings.xml merge=ours
res/values-ru/strings.xml merge=ours
res/values-si-rLK/strings.xml merge=ours
res/values-sk/strings.xml merge=ours
res/values-sl/strings.xml merge=ours
res/values-sq-rAL/strings.xml merge=ours
res/values-sr/strings.xml merge=ours
res/values-sv/strings.xml merge=ours
res/values-sw/strings.xml merge=ours
res/values-ta-rIN/strings.xml merge=ours
res/values-te-rIN/strings.xml merge=ours
res/values-th/strings.xml merge=ours
res/values-tl/strings.xml merge=ours
res/values-tr/strings.xml merge=ours
res/values-ug/strings.xml merge=ours
res/values-uk/strings.xml merge=ours
res/values-ur-rPK/strings.xml merge=ours
res/values-uz-rUZ/strings.xml merge=ours
res/values-vi/strings.xml merge=ours
res/values-zh-rCN/strings.xml merge=ours
res/values-zh-rHK/strings.xml merge=ours
res/values-zh-rTW/strings.xml merge=ours
res/values-zu/strings.xml merge=ours